/* Base styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansation", sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s ease;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    display: inline-flex;
    list-style: none;
}

span {
    font-family: inherit;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1252px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Common styles */

.title {
    height: 66px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px 0px;
    font-size: 40px; 
    font-weight: 700;
    line-height: 105%;
    text-transform: uppercase;
    color: #F8F9FF;
}

.check__list {
    padding: 45px 40px;
    min-height: 365px;
    border-radius: 6px;
    border: 1px solid #F8F9FF;
    background-color: rgba(0, 7, 30, 0.80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.check__list-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
    position: relative;
    margin-left: 66px;
}

.check__list-item::before {
    content: "";
    width: 46px;
    height: 41px;
    background: url('../img/check.svg');
    position: absolute;
    top: 50%;
    left: -66px;
    transform: translateY(-50%);
}

.block-title {
    max-width: 479px;
    font-size: 40px;
    font-weight: 400;
    line-height: 105%;
    color: #F8F9FF;
    text-transform: uppercase;
}

.block-title span {
    color: #C30000;
}


.red__banner {
    margin-top: 80px;
    border-radius: 6px;
    background: rgba(195, 0, 0, 0.40);
    padding: 40px;
}

.red__banner-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: #F8F9FF;
}

input, textarea {
    margin-top: 8px;
    display: block;
    width: 100%;
    height: 54px;
    padding-left: 20px;
    border-radius: 6px;
    background-color: #F8F9FF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    color: rgba(11, 11, 11, 1);
}

input:first-child {
    margin-top: 0;
}

form p {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    color: #F8F9FF;
}

form button {
    width: 100%;
    height: 54px;
    margin-top: 20px;
    border-radius: 6px;
    background: #C30000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
}

form button:hover {
    color: #00071E;
    background: #F8F9FF;
}

@media (max-width: 1200px) {
    .title {
        font-size: 32px;
        height: 58px;
    }
    .block-title {
        font-size: 32px;
    }
    form input {
        height: 49px;
        font-size: 16px;
    }
    form textarea {
        font-size: 16px;
    }
    form button {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    form p {
        font-size: 14px;
    }
    .title {
        font-size: 16px;
        height: 41px !important;
    }
    .block-title {
        font-size: 30px;
    }
    form input {
        height: 49px;
        font-size: 13px;
    }
    form textarea {
        font-size: 13px;
    }
}

/* Fonts */

@font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation_Light.ttf") format(truetype);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation_Regular.ttf") format(truetype);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation_Bold.ttf") format(truetype);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation_Italic.ttf") format(truetype);
    font-style: italic;
}

@font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation_Light_Italic.ttf") format(truetype);
    font-style: italic;
}

@font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation_Bold_Italic.ttf") format(truetype);
    font-style: italic;
}

/* Keyframes */
@keyframes light-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Burger */
.burger {
    display: none;
    cursor: pointer;
}

.burger-menu {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    right: -110%;
    background-color: #00071E;
    transition: .5s ease;
}

.burger-menu .nav__list-item,
.burger-menu .nav__list-item:hover {
    border: none;
}

.burger-menu .nav__list {
    margin-top: 100px;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

.burger-menu-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 293px;
    height: 140px;
}

.burger-menu-close {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .burger {
        display: block;
    }
    .burger-menu.active {
        right: 0;
    }
}

/* Header & Footer */

.header,
.footer {
    height: 148px;
    background: #00071E;
    padding: 20px 0;
    position: relative;
}

.header {
    overflow: hidden;
}

.footer {
    height: 164px;
}

.header__wrapper,
.footer__wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1151px;
}

.footer__wrapper {
    align-items: flex-start;
}

.header__block,
.footer__block {
    width: 100%;
}

.contacts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .contacts {
    margin-top: 14px;
}

.header__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 111.9%;
    color: #F8F9FF;
    margin-right: 185px;
}

.phone {
    font-weight: 400;
    font-size: 24px;
    line-height: 111.92%;
    color: #F8F9FF;
}

.telegram, .whatsapp {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s ease;
    border-radius: 50%;
}

.telegram {
    background: url("../img/header/Telegram.png");
}

.telegram:hover {
    background: url("../img/header/Telegram-hover.png");
}

.whatsapp {
    background: url("../img/header/WhatsApp.png");
}

.footer .whatsapp {
    margin-right: 32px;
}

.whatsapp:hover {
    background: url("../img/header/WhatsApp-hover.png");
}

.nav {
    margin-top: 12px;
}

.footer-nav {
    margin-top: 0;
}

.nav__list {
    display: flex;
    width: 100%;
    gap: 0;
}

.nav__list-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
    padding: 20px 20px 10px 20px;
    border-top: 4px solid #182037;
    transition: .4s ease-in;
    cursor: pointer;
    border-radius: 0px;
    white-space: nowrap;
}

.nav__list-item:hover {
    color: #C30000;
    border-top: 4px solid #C30000;
    border-radius: 2px;
}

.footer-nav .nav__list-item {
    border-top: none;
    border-bottom: 4px solid rgba(255, 255, 255, 0.10);
}

.footer-nav .nav__list-item:hover {
    border-top: none;
    border-bottom: 4px solid #C30000;
}

.header .phone {
    margin-right: 45px;
}

.footer .phone {
    margin-right: 360px;
}

.logo img {
    width: inherit;
    height: inherit;
}

.social-block {
    display: flex;
    gap: 8px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 768px;
    }
    .logo {
        width: 74px;
        height: 35px;
    }
    .header__wrapper, .footer__wrapper {
        gap: 12px;
    }
    .header__title, .phone {
        font-size: 16px;
        margin-right: 0 !important;
    }
    .nav__list-item {
        padding: 12px 10px 10px 10px;
        font-size: 15px;
    }
    .whatsapp {
        margin-right: 10px;
    }
    .footer .whatsapp {
        margin-right: 0;
    }
    .footer .telegram {
        margin-left: 100px;
    }
    .footer .button-application {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 135px;
        padding: 0;
        padding-top: 20px;
    }
    .header__wrapper .nav {
        display: none;
    }
    .header .whatsapp,
    .header .telegram {
        display: none;
    }
    .header__wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 11px;
    }
    .header__block .contacts {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .footer {
        height: auto;
    }
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer .nav__list {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .contacts {
        margin-top: 20px;
        flex-direction: column;
        gap: 15px;
    }
    .footer .nav__list-item {
        border: 0;
    }
    .footer .nav__list-item:hover {
        border: 0;
    }
    .footer__block {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer .telegram {
        margin-left: 0;
    }

}

/* Promo */
.promo {
    background: url('../img/promo/bg.png') center center / cover no-repeat;
    background-color: #00071E;
    height: 715px;
    padding-top: 80px;
}

.promo .container {
    position: relative;
    height: 100%;
}

.promo__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 105%;
    color: #F8F8F8;
    text-transform: uppercase;
    max-width: 804px;
}

.promo__subtitle {
    margin-top: 8px;
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    color: #fff;
    text-transform: uppercase;
}

.promo__descr {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 120%;
    color: #FFF;
    max-width: 500px;
}

.promo__button-block {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.button-application, .button-more {
    height: 54px;
    border-radius: 6px;
    font-size: 20px;
    color: #F8F9FF;
    transition: .5s ease;
}

.button-application {
    width: 240px;
    background-color: #C30000;
    font-weight: 500;
    text-transform: uppercase;
}

.button-application:hover {
    background: #F8F9FF;
    color: #00071E;
}

.button-more {
    width: 198px;
    border: 1px solid #F8F9FF;
    background: none;
}

.button-more:hover {
    color: #00071E;
    background: #A8A8A8;
}

.animation__wrapper {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 644.379px;
    height: 498px;
    background: url('../img/promo/car.png') center center / contain no-repeat;
}

.light {
    animation-name: light-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.left-light {
    position: absolute;
    top: 139px;
    left: -79.65px;
}

.right-light {
    position: absolute;
    top: 135px;
    right: -65.97px
}

@media (max-width: 1200px) {
    button {
        height: 46px !important;
        font-size: 16px;
    }
    .promo {
        position: relative;
        padding-top: 40px;
    }
    .promo .container {
        position: static;
    }
    .promo__title {
        font-size: 40px;
    }
    .promo__subtitle {
        font-size: 32px;
    }
    .promo__descr {
        font-size: 20px;
        margin-top: 20px;
        max-width: 310px;
    }
    .button-application {
        width: 185px;
        font-size: 14px;
    }
    .animation__wrapper {
        width: 515px;
        height: 474px;
        right: 35px;
        bottom: -20px;
    }
    .promo__button-block {
        margin-bottom: 20px;
    }
    .left-light {
        top: 127px;
        left: -101.65px;
    }
    .right-light {
        top: 125px;
        right: -88.97px;
    }
    .button-more-link {
        position: relative;
        z-index: 6;
    }

    @media(max-width: 768px) {
        .promo {
            padding: 49px 0 30px;
            max-height: 580px;
        }
        .promo__title {
            font-size: 30px;
        }
        .promo__subtitle {
            font-size: 20px;
        }
        .promo__descr {
            font-size: 16px;
            margin-top: 20px;
        }
        .promo__button-block {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
        .button-more {
            width: 156px;
            font-size: 14px;
        }
        .animation__wrapper {
            width: 271.666px;
            height: 204.576px;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        .left-light {
            width: 126.503px;
            height: 64.75px;
            top: 59px;
            left: -48.65px;
        }
        .right-light {
            width: 107.931px;
            height: 59.354px;
            top: 62px;
            right: -28.97px;
        }
    }
}

/* Cards */
.cards {
    background-color: #00071E;
    padding: 40px 0 60px 0;
    display: flex;
    justify-content: center;
}

.cards__wrapper {
    width: 1050px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 296px;
}

.card__icon {
    display: block;
    margin: 0 auto;
}

.card__title {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #C30000;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #F8F9FF;
    text-transform: uppercase;
}

.card__subtitle {
    margin-top: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    color: #F8F9FF;
}

@media(max-width: 1200px) {
    .cards {
        padding-bottom: 0;
    }
    .cards__wrapper {
        gap: 10px;
        max-width: 100%;
    }
    .card__title {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .cards {
        padding-top: 45px;
    }
    .cards__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .card {
        max-width: 500px;
    }
}

/* About */

.about {
    background: url('../img/about/bg.jpg') center center / cover no-repeat;
    padding-top: 40px;
}

.about__title {
    max-width: 602px;
    font-weight: 400;
    font-size: 32px;
    line-height: 105%;
    color: #F8F9FF;
}

.about__descr {
    margin-top: 20px;
    max-width: 908px;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: #F8F9FF;
}

.about__descr span {
    font-weight: 700;
}

.about__services {
    margin-top: 80px;
}

.about__services-block {
    width: 602px;
}

.about__services-wrapper {
    display: flex;
    justify-content: space-between;
}

.about__services-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 105%;
    color: #FFF;
    text-transform: uppercase;
}

.about__services-descr {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    color: #F8F9FF;
}

@media(max-width: 1200px) {
    .about {
        padding-top: 120px;
    }
    .about__descr, .about__services-descr {
        font-size: 16px;
    }
    .red__banner {
        margin-top: 40px;
    }
    .red__banner-text {
        font-size: 20px;
    }
    .about__services {
        margin-top: 40px;
    }
    .about__services-wrapper {
        flex-direction: column;
        gap: 40px;
    }
}

@media(max-width: 768px) {
    .about {
        padding-top: 80px;
    }
    .about__title {
        font-size: 24px;
    }
    .red__banner {
        padding: 20px;
    }
    .red__banner-text {
        font-size: 16px;
    }
    .about__services-title {
        font-size: 30px;
    }
    .about__services-block {
        max-width: 100%;
    }
    .check__list {
        padding: 20px;
    }
    .check__list-item {
        font-size: 14px;
    }
}

/* Consultation */
.consultation {
    padding: 100px 0 60px 0;
    background-color: #00071E;
}

.consultation__wrapper {
    max-width: 1141px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.consultation__block-left {
    max-width: 704px;
}

.consultation__block-right {
    width: 398px;
}

.consultation__form {
    width: inherit;
}

.consultation__title {
    max-width: 602px;
    font-size: 40px;
    font-weight: 400;
    line-height: 105%;
    color: #F8F9FF;
    text-transform: uppercase;
}

.consultation__descr {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    color: #F8F9FF;
}

@media(max-width: 1200px) {
    .consultation {
        padding: 80px 0 40px;
    }
    .consultation__title {
        font-size: 32px;
        width: 602px;
    }
    .consultation__descr {
        font-size: 16px;
    }
    .consultation__wrapper {
        max-width: 100%;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .consultation__block-left,
    .consultation__block-right {
        max-width: 100%;
        width: 100%;
    }
}

/* Catalog */
.catalog {
    background-color: #EDEDED;
    padding: 40px 0 116px 0;
    position: relative;
}

.catalog__title {
    width: 664px;
    height: 66px;
    background-color: #00071E;
    color: #F8F9FF;
}

.catalog__tabs {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.catalog__tab {
    padding: 20px 20px 10px 20px;
    color: #020820;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease;
    border-top: 4px solid #EDEDED;
}

.catalog__tab:hover,
.catalog__tab.active {
    border-radius: 2px;
    border-top: 4px solid #D81010;
}

.dropdown__block {
    margin: 0 auto;
    margin-top: 20px;
    width: 309px;
    padding: 4px 20px;
    border-radius: 6px;
    border: 1px solid #00071E;
    background-color: #F8F9FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.dropdown__title {
    font-family: Sansation;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #0B0B0B;
    text-transform: uppercase;
}

.dropdown__menu {
    margin-top: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 310px;
    background-color: #F8F9FF;
    border-radius: 6px;
    transition: .3s ease;

    opacity: 0;
    z-index: -1;
}

.dropdown__menu.active {
    opacity: 1;
    z-index: 2;
}

.dropdown__item {
    padding: 4px 20px;
    height: 32px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    border-top: 1px solid rgba(0, 7, 30, 0.20);
    cursor: pointer;
    transition: .3s ease;
}

.dropdown__item:hover {
    background-color: #D9D9D9;
}

.dropdown__item:first-child {
    padding-left: 60px;
    border-top: none;
}

.firm__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #0B0B0B;
    text-transform: uppercase;
}

.catalog__page {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.catalog__item {
    margin-top: 10px;
    width: 296px;
    height: 514px;
    border: 1px solid rgba(168, 168, 168, 0.32);
    background: #F8F9FF;
    padding: 10px 10px 20px;
    cursor: pointer;
}

.catalog__item-name {
    margin-top: 8px;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    color: #020820;
    text-transform: uppercase;
}

.catalog__item-info {
    margin-top: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.info__item {
    display: flex;
    justify-content: space-between;
}

.info__item h6,
.info__item p,
.catalog__item-price__title {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    color: #A8A8A8;
}

.info__item p, 
.catalog__item-price__title {
    color: #020820;
}

.catalog__item-price__title {
    margin-top: 20px;
    text-align: center;
}

.catalog__item-price {
    margin-top: 8px;
    text-align: center;
    color: #020820;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
}

@media (max-width: 1200px) {
    .catalog {
        padding-bottom: 100px;
    }
    .catalog__title {
        max-width: 547px;
    }
    .catalog__tabs {
        margin-top: 20px;
    }
    .catalog__tab {
        padding: 12px 10px 10px 10px;
        font-size: 14px;
    }
    .catalog__item {
        width: 236px;
        height: 473px;
        overflow: hidden;
    }
    .catalog__item:nth-child(7),
    .catalog__item:nth-child(8) {
        display: none;
    }
    .catalog__item-image {
        width: 216px;
        height: 220px;
    }
    .catalog__item-name {
        height: fit-content;
        font-size: 16px;
    }
    .info__item-name, .info__item-value {
        font-size: 14px !important;
    }
    .catalog__item-price__title {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .catalog__title {
        width: 274px;
    }
    .catalog__tabs {
        overflow-x: scroll;
    }
    .catalog__tabs::-webkit-scrollbar {
        display: none;
    }
    .dropdown__block {
        width: 220px;
        margin: 20px auto;
    }
    .dropdown__menu {
        width: 220px;
        margin-top: 0;
    }
    .dropdown__title {
        font-size: 14px;
    }
    .catalog__page {
        justify-content: center;
    }
    .catalog__item {
        display: none;
        width: 280px;
    }
    .catalog__item .catalog__item-image {
        width: 100%;
    }
    .catalog__item:nth-child(1) {
        display: block;
    }
}

/* Price */
.price {
    padding: 100px 60px;
    background-color: #00071E;
}

.price__title {
    width: 695px;
    border: 1px solid #F8F9FF;
}

.price__subtitle {
    margin-top: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 130%;
    color: #F8F9FF;
}

.price__subtitle span {
    font-weight: 700;
    color: #C30000;
}

.stages {
    margin-top: 80px;
    position: relative;
}

.check__list-stages {
    margin-top: 40px;
    max-width: 804px;
}

.check__list-stages li {
    text-transform: none;
}

.big__logo {
    position: absolute;
    bottom: 23.25px;
    right: 0;
    z-index: 1;
}

.payment__banner {
    border-radius: 6px;
    border: 1px solid #F8F9FF;
    margin: 0 auto;
    margin-top: 57px;
    width: 1050px;
    padding: 40px;
    background: url('../img/price/banner-bg.png') center center / cover no-repeat;
}

.payment__banner-text {
    color:  #F8F9FF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 120%;
}

.payment__banner-text span {
    color: #C30000;
}

.price__rules {
    width: 1050px;
    margin: 0 auto;
    margin-top: 80px;
}

.price__rules-title {
    max-width: 598px;
}

.price__rules__list {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.price__rules-item {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
    position: relative;
    margin-left: 28px;
}

.price__rules-item::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #C30000;
    border-radius: 50%;
    left: -28px;
}

.price .red__banner p {
    text-align: center;
}

@media (max-width: 1200px) {
    .price {
        padding: 40px 0 0;
    }
    .price__title {
        width: 572px;
    }
    .price__subtitle {
        font-size: 20px;
    }
    .price .check__list {
        max-width: 524px;
    }
    .price .check__list-item {
        font-size: 16px;
    }
    .big__logo {
        width: 293px;
        height: 138.296px;
        bottom: -70px;
    }
    .payment__banner {
        margin-top: 65px;
        position: relative;
        z-index: 10;
        width: 100%;
    }
    .payment__banner-text {
        font-size: 20px;
    }
    .price__rules {
        max-width: 100%;
    }
    .price__rules__list {
        gap: 20px;
    }
    .price__rules-item {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .price__title {
        width: 286px;
    }
    .price__subtitle {
        margin-top: 20px;
        font-size: 16px;
    }
    .stages {
        margin-top: 40px;
    }
    .check__list-stages {
        margin-top: 20px;
        max-width: 100%;
        gap: 20px;
    }
    .big__logo {
        display: none;
    }
    .payment__banner {
        margin-top: 40px;
    }
    .payment__banner-text {
        font-size: 16px;
    }
    .price__rules {
        margin-top: 40px;
    }
    .price__rules__list {
        margin-top: 20px;
    }
    .price__rules-item {
        font-size: 15px;
    }
}

/* Advantages */
.advantages {
    padding-top: 40px;
    background: url('../img/advantages/bg.jpg') center center / cover no-repeat;
}

.advantages__title {
    max-width: 611px;
    background-color: #C30000;
    margin-bottom: 80px;
}

.advantages__wrapper {
    width: 1050px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages__item {
    padding: 20px 40px 20px 0px;
    max-width: 500px;
    color: #FFF;
}

.advantages__item:nth-child(3),
.advantages__item:nth-child(4) {
    margin-top: 40px;
}

.advantages__item-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.advantages__item-descr {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
}

@media(max-width: 1200px) {
    .advantages {
        padding-top: 80px;
    }
    .advantages__title {
        max-width: 505px;
        margin-bottom: 40px;
    }
    .advantages__wrapper {
        max-width: 100%;
    }
    .advantages__item {
        max-width: 50%;
    }
    .advantages__item-title {
        font-size: 20px;
    }
    .advantages__item-descr {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .advantages__title {
        width: 253px;
    }
    .advantages__wrapper {
        flex-direction: column;
        gap: 40px;
    }
    .advantages__item {
        max-width: 500px;
        padding: 0;
        margin-top: 0 !important;
    }
}

/* Help */
.help {
    padding-top: 100px;
    background-color: #00071E;
}

.help .container {
    position: relative;
}

.help__left__block {
    max-width: 602px;
    height: 755px;
    position: relative;
    z-index: 2;
}

.help__descr {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 124%;
    color: #F8F9FF;
}

.help__form {
    margin-top: 40px;
}

.help__textarea {
    height: 140px;
    padding: 14px 20px;
}

.help__button {
    width: 244px;
}

.help__car {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 1200px) {
    .help {
        padding-top: 80px;
    }
    .help__car {
        width: 386px;
        height: 586px;
    }
    .help__left__block {
        height: auto;
    }
    .help__descr {
        font-size: 16px;
        max-width: 482px;
    }
    .help form {
        max-width: 482px;
    }
}

@media (max-width: 768px) {
    .help__car {
        width: 154px;
        height: 391px;
        bottom: 0;
        top: auto;
    }
    .help__descr {
        margin-top: 20px;
    }
}

/* FAQ */

.faq {
    padding-top: 100px;
    background-color: #00071E;
}

.faq__title {
    background: #F8F9FF;
    color: #00071E;
    max-width: 732px;
}

.collapse {
    margin: 0 auto;
    margin-top: 80px;
    width: 1050px;
    padding: 0 20px;
}

.collapse__block {
    max-height: 80px;
    padding: 20px 40px;
    border-top: 1px solid rgba(249, 249, 249, 0.20);
    transition: .4s ease;
}

.collapse__block-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapse__block.active {
    max-height: 300px;
    transition: 2s ease;
}

.collapse__block.active .collapse__block-title {
    color: #C30000;
}

.collapse__block.active .collapse__block-trigger {
    transform: rotate(180deg);
}

.collapse__block.active .collapse__block-answer {
    z-index: 1;
    opacity: 1;
}

.collapse__block.active .collapse__block-trigger path {
    stroke: #C30000;
}

.collapse__block-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
    position: relative;
    margin-left: 46px;
    height: fit-content;
    transition: .5s ease;
}

.collapse__block-title::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -46px;
    height: 20px;
    width: 20px;
    background: url('../img/faq/before-arrow.svg') center no-repeat;
}

.collapse__block-answer {
    position: relative;
    padding-left: 62px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    color: #F8F9FF;
    opacity: 0;
    z-index: -1;
    transition: .5s ease;
}


.collapse__block-trigger {
    height: 40px;
    cursor: pointer;
    transition: .5s ease;
}

@media(max-width: 1200px) {
    .faq {
        padding-top: 80px;
    }
    .faq__title {
        width: 602px;
    }
    .collapse {
        max-width: 100%;
        margin-top: 40px;
    }
    .collapse__block-title, .collapse__block-answer {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .faq__title {
        width: 301px;
    }
    .collapse {
        padding: 0;
    }
    .collapse__block {
        max-height: 94px;
        padding: 20px;
    }
    .collapse__block-title {
        font-size: 14px;
    }
}

/* Rewiews */

.rewiews {
    padding: 100px 0 60px 0;
    background-color: #00071E;
}

.rewiews .container {
    position: relative;
}

.rewiews__title {
    background: #C30000;
    max-width: 643px;
}

.swiper-rewiews {
    margin-top: 80px;
    max-width: 1010px;
    padding: 0 20px;
}

.rewiew {
    width: 500px;
    padding-right: 20px;
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.rewiews__date__wrapper {
    width: 26px;
    height: 177px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
}

.rewiew__date {
    transform: rotate(-90deg);
    color: rgba(255, 255, 255, .4);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
    width: 30px;
}

.rewiew__date::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 1px;
    background: #D81010;
    top: 50%;
    left: 117px;
}


.rewiew__prewiew {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rewiew__date::before {
    position: absolute;
}


.rewiew__name, .rewiew__car {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.rewiew__car {
    margin-top: 8px;
    color: #D81010;
}

.rewiew__text {
    margin-top: 16px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
}

.swiper-rewiew-left,
.swiper-rewiew-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-rewiew-left {
    left: 0;
}

.swiper-rewiew-right {
    right: 0;
}

.swiper-pagination {
    position: static;
    margin-top: 40px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    background: #D9D9D9;
    border-radius: 4px;
}

.swiper-pagination-bullet-active {
    width: 40px;
    background: #C30000;
}

.rewiew__button {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    background: none;
    width: 207px;
    height: 54px;
    border-radius: 6px;
    border: 1px solid #F8F9FF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #F8F9FF;
}

.rewiew__button:hover {
    color: #00071E;
    background: #A8A8A8;
}

@media (max-width: 1200px) {
    .rewiews {
        padding: 80px 0 0;
    }
    .rewiews__title {
        width: 531px;
    }
    .swiper-rewiews {
        padding: 0;
    }
    .rewiew {
        width: 359px;
    }
    .rewiew__content {
        max-width: 100%;
    }
    .rewiew__button {
        width: 162px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .rewiews__title {
        width: 266px;
    }
    .swiper-rewiews {
        margin-top: 40px;
    }
    .rewiew {
        max-width: 100%;
        width: auto;
        padding-right: 0;
    }
    .swiper-rewiew-left,
    .swiper-rewiew-right {
        display: none;
    }
}

/* Selection */

.selection {
    padding: 40px 0 100px 0;
    background: url(../img/selection/bg.jpg) center center / cover no-repeat;
}

.selection__wrapper {
    width: 1050px;
    padding: 0 20px;
    margin: 0 auto;
}

.selection__title {
    max-width: 704px;
}

.selection__subtitle {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
}

.filters__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.filters__block {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #F8F9FF;
    height: fit-content;
}

.fuel-type__block {
    width: 296px;
}

.price__block {
    max-width: 270px;
    padding-right: 0;
}

.body-type__block {
    width: 433px;
}

.filters__block-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
}

.filters__block__list {
    padding-top: 20px;
    margin-top: 8px;
    border-top: 1px solid #C30000;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filters__block-item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.fiters__block-item-name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    color: #F8F9FF;
    opacity: 0.4;
}

.flitres__block-check {
    width: 20px;
    height: 20px;
}

.filters-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    height: inherit;
    width: inherit;
}

.filters-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    width: inherit;
    height: inherit;
    cursor: pointer;
}

.filters-checkbox+label::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: 4px;
    border: 1px solid rgba(237, 237, 237, 0.20);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.filters-checkbox:checked+label::before {
    border-color: #C30000;
    background: url('../img/selection/check.svg') center center / cover no-repeat;
}

.checkbox-round+label::before {
    border-radius: 50%;
}

.checkbox-round:checked+label::before {
    border-color: #C30000;
    background: url('../img/selection/check-round.svg') center center / cover no-repeat;
}

.body-type__list {
    flex-direction: row;
    flex-wrap: wrap;
}

.body-type__list li {
    width: 45%;
}

.selection__button {
    width: 230px;
    height: 54px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 6px;
    background: #C30000;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: #F8F9FF;
    text-transform: uppercase;
}

.selection__button:hover {
    color: #00071E;
    background: #F8F9FF;
}

@media (max-width: 1200px) {
    .selection {
        padding: 106px 0 40px;
    }
    .selection__wrapper {
        max-width: 100%;
    }
    .selection__subtitle {
        margin-top: 20px;
        font-size: 16px;
    }
    .filters__wrapper {
        margin-top: 40px;
        justify-content: center;
        gap: 8px;
    }
    .filters__block {
        height: 233px;
        padding: 17px;
    }
    .filters__block-name, .fiters__block-item-name {
        font-size: 15px;
    }
    .fuel-type__block {
        width: 161px;
    }
    .body-type__block {
        width: 310px;
    }
    .filters__block__list {
        gap: 20px;
    }
    .selection__button {
        width: 178px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .selection__title {
        font-size: 20px;
    }
    .selection__subtitle {
        font-size: 14px;
    }
    .filters__wrapper {
        flex-direction: column;
        gap: 10px;
    }
    .filters__block {
        width: auto;
        max-width: 100%;
    }
}

/* News */

.news {
    padding: 40px 0;
    background-color: #EDEDED;
}

.news__title {
    max-width: 478px;
    background-color: #C30000;
    margin-bottom: 40px;
}

.news__item {
    max-width: 398px;
}

.news__item-title {
    margin-top: 20px;
    height: 72px;
    color: #020820;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.news__item-link {
    margin-top: 20px;
    color: #0931D2;
    display: block;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .news__title {
        width: 399px;
    }
    .news__item {
        max-width: 234px;
    }
    .news__item-photo {
        width: 100%;
    }
    .news__item-title {
        font-size: 16px;
        height: fit-content;
    }
    .news__item-descr {
        margin-top: 8px;
    }
}

@media (max-width: 768px) {
    .news__title {
        width: 200px;
    }
    .news__item {
        width: auto;
        max-width: 100%;
    }
}

/* Overlay */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 7, 30, 0.60) 0%, rgba(0, 7, 30, 0.60) 100%);
    z-index: -10;
    opacity: 0;
    transition: .5s ease;
    overflow-y: scroll;
}

.overlay.active {
    opacity: 1;
    z-index: 10;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    transition: .5s ease;
}

.popup.active {
    display: block;
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.rewiew-popup, .select-popup {
    width: 864px;
    padding: 80px;
    background: #F8F9FF;
    border-radius: 6px;
}

.rewiew-popup-title,
.select-popup-title {
    color: #0B0B0B;
    font-size: 20px;
    font-weight: 400;
    line-height: 105%;
    text-transform: uppercase;
}

.select-popup-title {
    font-size: 40px;
}

.rewiew-popup form,
.select-popup form {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 602px;
}

.rewiew-popup form input,
.rewiew-popup form textarea, 
.select-popup form input {
    border: 1px solid #00071E;
}

.rewiew-popup form textarea {
    height: 200px;
    padding: 14px 20px;
}

.rewiew-popup form p,
.select-popup form p {
    color: #0B0B0B;
    text-align: left;
}

.rewiew-popup form button {
    width: 172px;
}

.select-popup form button {
    width: 240px;
}

.rewiew-popup form button:hover, 
.select-popup form button:hover {
    background-color: #C30000;
    color: #F8F9FF;
}

.overlay::-webkit-scrollbar {
    display: none;
}

.news-popup {
    padding: 40px;
    background: #F8F9FF;
    border-radius: 6px;
    text-align: left;
    width: 1080px;
}

.news-popup-image {
    display: block;
    margin: 0 auto;
}

.news-popup-title {
    margin: 20px 0;
    color: #020820;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.news-popup-text {
    color: #0B0B0B;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
}

.select-popup-parameters {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    max-width: 450px;
}

.select-popup-parameter {
    display: flex;
    justify-content: space-between;
}

.select-popup-parameters-name {
    color: #0B0B0B;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
}

.select-popup-parameters-value {
    color: #0B0B0B;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
}

.car-popup {
    max-width: 1160px;
    padding: 80px;
    background: #F8F9FF;
    border-radius: 6px;
}

.swiper-car-left,
.swiper-car-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-car-left {
    left: 20px;
}

.swiper-car-right {
    right: 20px;
}

@media (max-width: 1200px) {
    .popup {
        width: auto;
        height: auto;
    }
    .close {
        top: 10px;
        right: 10px;
    }
    .rewiew-popup {
        padding: 30px;
    }
    .car-popup {
        width: 720px;
        padding: 40px;
    }
    .swiper-car-left {
        left: 0;
    }
    .swiper-car-right {
        right: 0;
    }
}

@media(max-width: 768px) {
    .select-popup {
        padding: 20px;
    }
    .select-popup-title {
        font-size: 20px;
    }
    .car-popup {
        width: 340px;
    }
    .swiper-car-left,
    .swiper-car-right {
        width: 20px;
    }
    .rewiew-popup {
        width: 340px;
    }
}

@media (max-height: 990px) {
    .popup {
        top: 50px;
        transform: translateX(-50%);
    }
}